@page "/person"
@using BlazingGidde.Client.Services
@using BlazingGidde.Client.Shared
@using BlazingGidde.Shared.Models.PersonMain
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Components.Forms
@inject PersonMainManager personManager
@attribute [Authorize]

<PageTitle>Application Person</PageTitle>

<GenericGrid TEntity="Person" Title="Persons"
             Repository="@personManager"
             Columns="@myColumns">
    <EditFormTemplate Context="person">
        <div class="container-fluid p-3">
            <h5 class="mb-3">Person Details</h5>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label fw-bold">Person ID</label>
                    <InputNumber class="form-control" @bind-Value="person.PersonId" />
                </div>
                <div class="col-md-6">
                    <label class="form-label fw-bold">First Name</label>
                    <InputText class="form-control" @bind-Value="person.FirstName" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label fw-bold">Last Name</label>
                    <InputText class="form-control" @bind-Value="person.LastName" />
                </div>
                <div class="col-md-6">
                    <label class="form-label fw-bold">Title</label>
                    <InputText class="form-control" @bind-Value="person.Title" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label fw-bold">Culture</label>
                    <InputText class="form-control" @bind-Value="person.Culture" />
                </div>
                <div class="col-md-6">
                    <label class="form-label fw-bold">VAT Number</label>
                    <InputText class="form-control" @bind-Value="person.VatNumber" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label fw-bold">Remarks</label>
                    <InputText class="form-control" @bind-Value="person.Remarks" />
                </div>
                <div class="col-md-6">
                    <label class="form-label fw-bold">Annual Revenue</label>
                    <InputNumber class="form-control" @bind-Value="person.AnnualRevenue" />
                </div>
            </div>
        </div>
    </EditFormTemplate>
</GenericGrid>

@code {
    private List<ColumnDefinition<Person>> myColumns = new();

    protected override void OnInitialized()
    {
        myColumns = new List<ColumnDefinition<Person>>
        {
            new ColumnDefinition<Person>(x => x.PersonId, "Person ID", isEditable: true),
            new ColumnDefinition<Person>(x => x.FirstName, "First Name", isEditable: true),
            new ColumnDefinition<Person>(x => x.LastName, "Last Name", isEditable: true),
            new ColumnDefinition<Person>(x => x.Title, "Title", isEditable: true),
            new ColumnDefinition<Person>(x => x.Culture, "Culture", isEditable: true),
            new ColumnDefinition<Person>(x => x.VatNumber, "VAT Number", isEditable: true),
            new ColumnDefinition<Person>(x => x.Remarks, "Remarks", isEditable: true),
            new ColumnDefinition<Person>(x => x.AnnualRevenue, "Annual Revenue", isEditable: true)
        };
    }
}