@inject PersonMainManager personManager

<AuthorizeView>

	<Authorized>
		<div class="login-display">
			<span class="user-greeting">Hello, @context.User.Identity?.Name!</span>
			<DxButton RenderStyleMode="@ButtonRenderStyleMode.Outline" RenderStyle="ButtonRenderStyle.Danger"  
			Text="Logout" @onclick="Logout"></DxButton>
		</div>
	</Authorized>

	<NotAuthorized>
		<div class="login-display">

			<DxButton RenderStyleMode="@ButtonRenderStyleMode.Outline" RenderStyle="ButtonRenderStyle.Secondary" 
			Text="Registrarse" @onclick="NavigateToRegister"></DxButton>
			
			<DxButton RenderStyleMode="@ButtonRenderStyleMode.Outline" RenderStyle="ButtonRenderStyle.Primary" 
			Text="Conectar" @onclick="NavigateToLogin"></DxButton>
		</div>
	</NotAuthorized>

</AuthorizeView>

@code {

	[Inject] NavigationManager NavigationManager { get; set; } = null!;

	private void Logout()
	{
		NavigationManager.NavigateTo("LogOut", forceLoad: true);
	}

	private void NavigateToRegister()
	{
		NavigationManager.NavigateTo("Register");
	}

	private void NavigateToLogin()
	{
		NavigationManager.NavigateTo("Login");
	}
}

<style>
	.login-display {
		display: flex;
		align-items: center;
		gap: 1rem;
		/* Space between elements */
	}

	.user-greeting {
		font-size: 1rem;
		font-weight: bold;
	}
</style>