<AuthorizeView>
	<Authorized>
		<div class="login-display">
			<span class="user-greeting">Hello, @context.User.Identity.Name!</span>
			<button class="btn btn-danger" @onclick="Logout">
				<span class="material-icons">
					logout
				</span>
				Log out
			</button>
		</div>
	</Authorized>
	<NotAuthorized>
		<div class="login-display">
			<button class="btn btn-outline-secondary" @onclick="NavigateToRegister">
				<span class="material-icons">
					person
				</span>
				S'enregistrer
			</button>
			<button class="btn btn-primary" @onclick="NavigateToLogin">
				<span class="material-icons">
					login
				</span>
				Se connecter
			</button>
		</div>
	</NotAuthorized>
</AuthorizeView>

@code {
	[Inject] NavigationManager NavigationManager { get; set; }

	private void Logout()
	{
		NavigationManager.NavigateTo("LogOut", forceLoad: true);
	}

	private void NavigateToRegister()
	{
		NavigationManager.NavigateTo("Register");
	}

	private void NavigateToLogin()
	{
		NavigationManager.NavigateTo("Login");
	}
}

<style>
    .login-display {
        display: flex;
        align-items: center;
        gap: 1rem; /* Space between elements */
    }

    .user-greeting {
        font-size: 1rem;
        font-weight: bold;
    }
</style>