@inherits LayoutComponentBase
@layout MainLayout
<h3>@type.Name</h3>

<div class="form-layout">
    <DxFormLayout CaptionPosition="CaptionPosition.Vertical" CssClass="w-100">
        <DxFormLayoutItem Caption="Nombre" ColSpanLg="6" ColSpanMd="12">
            <DxTextBox @bind-Value="kind.Name" CssClass="form-control-uniform" />
        </DxFormLayoutItem>
        <DxFormLayoutItem Caption="Versión" ColSpanLg="3" ColSpanMd="6">
            <DxTextBox @bind-Value="kind.Version" CssClass="form-control-uniform" />
        </DxFormLayoutItem>
        <DxFormLayoutItem Caption="Versión" ColSpanLg="3" ColSpanMd="6">
            <DxDateEdit @bind-Date="@DateTimeValue" InputId="deOverview" CssClass="form-control-uniform" />
        </DxFormLayoutItem>

        <DxFormLayoutItem Caption="Descripción del programa" ColSpanLg="6" ColSpanMd="12">
            <DxTextBox @bind-Value="kind.ProgramDescription" CssClass="form-control-uniform" />
        </DxFormLayoutItem>
        <DxFormLayoutItem Caption="Sección" ColSpanLg="6" ColSpanMd="12">
            <DxTextBox @bind-Value="kind.Section" CssClass="form-control-uniform" />
        </DxFormLayoutItem>
    </DxFormLayout>
</div>
<div class="mt-3">
    @Body
</div>


<div class="mt-3 d-flex flex-row flex-wrap">
    <DxButton  RenderStyleMode="@ButtonRenderStyleMode.Outline" RenderStyle="ButtonRenderStyle.Secondary"
              Click="Cancel" IconCssClass="" CssClass="button-uniform">Cancelar
    </DxButton>
    <DxButton RenderStyleMode="@ButtonRenderStyleMode.Outline" RenderStyle="ButtonRenderStyle.Primary" 
        Click="Save" IconCssClass="">Guardar
    </DxButton>
</div>

<style>
    .button-uniform {
        margin-right: 10px;
    }

    .form-control-uniform {
        height: 35px;
        padding: 6px 12px; 
        margin-top: 10px;
    }
</style>


@code {
    [Parameter]
    public TemplateType type { get; set; } = new();

    TemplateKind kind { get; set; } = new();

    DateTime DateTimeValue { get; set; } = DateTime.Now;

    protected override async Task OnInitializedAsync()
    {
        kind.Version = 1;
        kind.CreateDate = DateTime.UtcNow;
    }

    private Task Cancel(MouseEventArgs e)
    {
        throw new NotImplementedException();
    }

    private Task Save(MouseEventArgs e)
    {
        throw new NotImplementedException();
    }
}
