@page "/"

<PageTitle>Bienvenue</PageTitle>

<div class="welcome-container">
	<img src="OnaSoft-O.svg" alt="Logo Alpsoft" class="welcome-image" />
	<h1 class="welcome-text">Bienvenid@@</h1>
	<p class="welcome-subtext">Descubre nuestra application </p>
</div>
