@page "/"

<PageTitle>Bienvenue</PageTitle>

<div class="welcome-container">
	<img src="logo-alpsoft.png" alt="Logo Alpsoft" class="welcome-image" />
	<h1 class="welcome-text">Bienvenue !</h1>
	<p class="welcome-subtext">Explorez notre application et découvrez tout ce que nous avons à offrir.</p>
</div>
