@page "/register"


@using BlazingGidde.Shared.Models.Identity
@inject IAuthService AuthService
@inject NavigationManager NavigationManager

<SfToast @ref="ToastObj" Timeout="5000" Content="@_error" >
	<ToastPosition X="Right" Y="Bottom" />
</SfToast>

<SfCard CssClass="register-card">
	<CardHeader>
		<h2>Senregistrer</h2>
	</CardHeader>
	<CardContent>
		<EditForm Model="_registerModel" OnValidSubmit="HandleRegistration">
			<DataAnnotationsValidator />

			<div class="form-group">
				<SfTextBox Id="email" Placeholder="Saisissez votre adresse mail" FloatLabelType="FloatLabelType.Always" CssClass="e-outline"
						   @bind-Value="_registerModel.Email">
				</SfTextBox>
				<ValidationMessage For="@(() => _registerModel.Email)" />
			</div>

			<div class="form-group">
				<SfTextBox Id="password" Type="InputType.Password" Placeholder="Saisissez un mot de passe" FloatLabelType="FloatLabelType.Always" CssClass="e-outline"
						   @bind-Value="_registerModel.Password">
				</SfTextBox>
				<ValidationMessage For="@(() => _registerModel.Password)" />
			</div>

			<div class="form-group">
				<SfTextBox Id="confirm-password" Type="InputType.Password" Placeholder="Confirmez votre mot de passe" FloatLabelType="FloatLabelType.Always" CssClass="e-outline"
						   @bind-Value="_registerModel.ConfirmPassword">
				</SfTextBox>
				<ValidationMessage For="@(() => _registerModel.ConfirmPassword)" />
			</div>
			<SfButton CssClass="e-primary" IsPrimary="true">Entrer</SfButton>

		</EditForm>
	</CardContent>
</SfCard>

@code {
	private RegisterModel _registerModel = new();
	private SfToast ToastObj;
	private string _error = "";

	private async Task HandleRegistration()
	{
		var result = await AuthService.Register(_registerModel);

		if (result.Successful)
		{
			NavigationManager.NavigateTo("/login");
		}
		else
		{
			_error = string.Join("<br>", result.Errors);
			await InvokeAsync(StateHasChanged);
			await ShowErrorToast();
		}
	}

	private async Task ShowErrorToast()
	{
		await ToastObj.ShowAsync();
	}
}

<style>
	.e-card .e-card-header {
		justify-content: left;
	}

	.register-card {
		width: 400px;
		margin: 2rem auto;
		padding: 2rem;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
		border-radius: 8px;
	}

	.form-group {
		margin-bottom: 1.5rem;
	}

		.form-group:last-child {
			margin-bottom: 2rem;
		}

	.register-card SfButton {
		margin-top: 1rem;
	}
</style>
