@namespace BlazingGidde.Shared.EmailTemplates
@typeparam TModel

@code {
    [Parameter] public TModel Model { get; set; } = default!;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@Model.Subject</title>
</head>
<body>
    <h1>@Model.Greeting</h1>
    <p>@Model.Body</p>
    <footer>@Model.Signature</footer>
</body>
</html>
