@using BlazingGidde.Shared.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>@Model.Subject</title>
</head>
<body>
<h1>@Model.Greeting</h1>
<p>@Model.Body</p>
<footer>@Model.Signature</footer>
</body>
</html>

@code {
    [Parameter] public EmailViewModel Model { get; set; } = default!;
}