@using BlazingGidde.Client.Shared

<nav class="navbar header-navbar p-0 d-flex justify-content-between align-items-center">

    <div class="d-flex align-items-center">
        <AuthorizeView>
            <Authorized>
                <button class="navbar-toggler bg-primary d-block me-2" @onclick="OnToggleClick">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </Authorized>
        </AuthorizeView>

        <img class="icon-logo" src="OnaSoft-logo.svg" />
    </div>

    <div class="me-2">
        <LoginDisplay></LoginDisplay>
    </div>

</nav>

@code {
    [Parameter] public bool ToggleOn { get; set; }
    [Parameter] public EventCallback<bool> ToggleOnChanged { get; set; }

    async Task OnToggleClick() => await Toggle();

    async Task Toggle(bool? value = null)
    {
        var newValue = value ?? !ToggleOn;
        if (ToggleOn != newValue)
        {
            ToggleOn = newValue;
            await ToggleOnChanged.InvokeAsync(ToggleOn);
        }
    }
}