@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<DxLayoutBreakpoint MaxWidth="1200" @bind-IsActive="@IsMobileLayout"/>

<div class="page">
    <DxGridLayout CssClass="page-layout">
        <Rows>
            @if (IsMobileLayout)
            {
                <DxGridLayoutRow Areas="header" Height="auto"></DxGridLayoutRow>
                @if (isAuthorized)
                {
                    <DxGridLayoutRow Areas="sidebar" Height="auto"></DxGridLayoutRow>
                }

                <DxGridLayoutRow Areas="content"/>
                <DxGridLayoutRow Areas="footer" Height="auto"/>
            }
            else
            {
                <DxGridLayoutRow Areas="header header" Height="auto"/>
                <DxGridLayoutRow Areas="@(isAuthorized && IsSidebarExpanded ? "sidebar content" : "content content")"/>
                <DxGridLayoutRow Areas="footer footer" Height="auto"/>
            }
        </Rows>
        <Columns>
            @if (!IsMobileLayout && isAuthorized)
            {
                <DxGridLayoutColumn Width="auto"/>
                <DxGridLayoutColumn/>
            }
        </Columns>
        <Items>
            <DxGridLayoutItem Area="header" CssClass="layout-item">
                <Template>
                    <Header @bind-ToggleOn="@IsSidebarExpanded"/>
                </Template>
            </DxGridLayoutItem>
            @if (isAuthorized)
            {
                <DxGridLayoutItem Area="sidebar" CssClass="layout-item">
                    <Template>
                        <NavMenu StateCssClass="@NavMenuCssClass"/>
                    </Template>
                </DxGridLayoutItem>
            }
            <DxGridLayoutItem Area="content" CssClass="px-4 layout-item">
                <Template>
                    <div class="content">
                        @Body
                    </div>

                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Area="footer" CssClass="layout-item">
                <Template>
                    <footer style="box-shadow: 4px -3px 8px 0px rgba(0, 0, 0, 0.12); display: flex; justify-content: space-between; align-items: center;">
                        <p style="margin:5px">&copy; OnaSoft SL - 2024</p>
                        <p style="margin: 5px;">beta-version 0.0.3</p>
                    </footer>
                </Template>
            </DxGridLayoutItem>
        </Items>
    </DxGridLayout>
</div>

@code {
    string? NavMenuCssClass { get; set; }
    bool _isMobileLayout;

    bool IsMobileLayout
    {
        get => _isMobileLayout;
        set
        {
            _isMobileLayout = value;
            IsSidebarExpanded = !_isMobileLayout;
        }
    }

    bool _isSidebarExpanded = true;

    bool IsSidebarExpanded
    {
        get => _isSidebarExpanded;
        set
        {
            if (_isSidebarExpanded != value)
            {
                NavMenuCssClass = value ? "expand" : "collapse";
                _isSidebarExpanded = value;
            }
        }
    }

    bool isAuthorized;

    // Receive the authentication state via CascadingParameter
    [CascadingParameter] private Task<AuthenticationState> AuthenticationStateTask { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        // Subscribe to location changes
        NavigationManager.LocationChanged += OnLocationChanged;

        // Get the initial authentication state
        var authState = await AuthenticationStateTask;
        isAuthorized = authState.User.Identity?.IsAuthenticated ?? false;
    }

    private async void OnLocationChanged(object? sender, LocationChangedEventArgs args)
    {
        if (IsMobileLayout)
        {
            IsSidebarExpanded = false;
        }

        // Update the authorization state on navigation
        var authState = await AuthenticationStateTask;
        isAuthorized = authState.User.Identity?.IsAuthenticated ?? false;

        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

}