@inherits LayoutComponentBase
<div class="page">
	<SfSidebar @ref="sidebarObj"
	           Type="SidebarType.Auto"
	           ShowBackdrop="false"
	           Width="15%"
	           @bind-IsOpen="SidebarToggle"
	           MediaQuery="(min-width: 600px)"
	           Target=".main-content">
		<ChildContent>
			<NavMenu/>
		</ChildContent>
	</SfSidebar>


	<SfToolbar >

		<ToolbarItems>
			<ToolbarItem PrefixIcon="e-icons e-menu" 
			             Align="ItemAlign.Left" 
			             Text="Menu" OnClick="@ToogleSideBar"
						 TooltipText="Afficher/Masquer le menu"></ToolbarItem>

		</ToolbarItems>
	</SfToolbar>


	<div class="main-content">
		<div class="content px-4">
				@Body
		</div>
	</div>


</div>

@code {
	SfSidebar sidebarObj;
	public bool SidebarToggle = false;

	public void ToogleSideBar()
	{
		SidebarToggle = !SidebarToggle;
	}

}