.page {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100vh; /* Ensures the page takes the full viewport height */
}
.tool
.content {
	padding-top: 1.1rem;
}
.main-content {
	flex: 1; /* Ensures this div grows to fill the remaining space */
}
.e-sidebar {
	background-color: #f8f8f8;
	color: black;
}

	.e-sidebar.e-left {
		top: 55px;
	}

	.e-sidebar.e-right {
		top: 55px;
	}

.main > div {
	padding: 0px !important;
}