@using BlazingGidde.Client.Shared
@inherits LayoutComponentBase

<Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" />

<div class="bb-page">

    <AuthorizeView>
        <Sidebar Href="/" @ref="sidebar" ImageSrc="logo-alpsoft.png" Title="Alpcore" DataProvider="SidebarDataProvider" WidthUnit="Unit.Px" Width="250"/>
    </AuthorizeView>

    <main>
        <div class="bb-top-row px-4 d-flex justify-content-between">

            <AuthorizeView>
                <Icon Name="IconName.List" role="button" @onclick="ToggleSidebar" />
            </AuthorizeView>

            <div class="d-flex justify-content-end align-items-center">
                <LoginDisplay />
            </div>
        </div>

        <article class="content px-4">
            <div class="py-2">@Body</div>
        </article>

        <footer>
            <span>© 2024 AlpSoft SA. All rights reserved.</span>
            <span class="version">Version beta 0.0.2</span>
        </footer>
    </main>

</div>

@code {
    private IEnumerable<NavItem> navItems = default!;
    Sidebar sidebar = default!;

    private async Task<SidebarDataProviderResult> SidebarDataProvider(SidebarDataProviderRequest request)
    {
        if (navItems is null)
            navItems = GetNavItems();

        return await Task.FromResult(request.ApplyTo(navItems));
    }

    private IEnumerable<NavItem> GetNavItems()
    {
        navItems = new List<NavItem>
        {
            new NavItem { Id = "1", Href = "/", IconName = IconName.HouseDoorFill, Text = "Home", Match = NavLinkMatch.All },
            new NavItem { Id = "2", Text = "FlowChek", IconName = IconName.CheckCircle },
            new NavItem { Id = "3", Href = "/checklist", IconName = IconName.Check, ParentId = "2", Text = "Nuevo" },
            new NavItem { Id = "4", Href = "/templates", IconName = IconName.Book, ParentId = "2", Text = "Consultar" },

            new NavItem { Id = "5", Text = "Plantillas", IconName = IconName.CheckCircle },
            new NavItem { Id = "6", Href="/templates-type",  IconName = IconName.Type, ParentId = "5", Text = "Tipos de plantilla" },
            new NavItem { Id = "7", Href="/templates-kind",  IconName = IconName.Search, ParentId = "5", Text = "Plantillas" },

            new NavItem { Id = "8", Text = "Admin", IconName = IconName.ShieldShaded},
            new NavItem { Id = "9", Href = "/appusers", IconName=IconName.PeopleFill, ParentId = "8", Text = "Users" },
            new NavItem { Id = "10", Href = "/FlowRoles",IconName=IconName.PersonFillGear, ParentId = "8", Text = "Roles" },
        };

        return navItems;
    }

    private void ToggleSidebar() => sidebar.ToggleSidebar();

}