<style>
    .card {
        border-radius: 0;
    }
</style>

<div class="sidebar @StateCssClass">
    <DxAccordion SelectionMode="NavigationSelectionMode.Single" UrlMatchMode="NavigationUrlMatchMode.CurrentPath"
        CssClass="app-sidebar" @ref="Accordion">
        <Items>
            <DxAccordionItem NavigateUrl="./" Text="Overview" />
            <AuthorizeView Roles="admin, viewer">
                <DxAccordionItem Text="FlowCheck" AllowSelection="false">
                    <Items>
                        <DxAccordionItem NavigateUrl="/templates" Text="Nuevo" />
                        <DxAccordionItem Text="Consultar" />
                    </Items>
                </DxAccordionItem>
            </AuthorizeView>
            <AuthorizeView Roles="admin,manager">
                <DxAccordionItem Text="Plantillas" AllowSelection="false">
                    <Items>
                        <DxAccordionItem NavigateUrl="/templates-type" Text="Tipos de plantillas" />
                        <DxAccordionItem NavigateUrl="/templates-kind" Text="Plantillas" />
                    </Items>
                </DxAccordionItem>
            </AuthorizeView>

            <DxAccordionItem Text="Admin" AllowSelection="false">
                <Items>
                    <DxAccordionItem NavigateUrl="/appusers" Text="Usuarios" />
                    <DxAccordionItem NavigateUrl="/person" Text="Personas" />
                    <DxAccordionItem NavigateUrl="/approles" Text="Roles" />
                </Items>
            </DxAccordionItem>
        </Items>
    </DxAccordion>
</div>

@code {
    [Parameter] public string? StateCssClass { get; set; }

    DxAccordion Accordion;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            Accordion.ExpandAll();

        }
    }

}