@page "/approles"
@using BlazingGidde.Client.Services
@using BlazingGidde.Client

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using Syncfusion.Blazor.Data
@using BlazingGidde.Client.Shared
@inject AspNetRoleManager RoleManager
@attribute [Authorize]

<PageTitle>Application roles</PageTitle>

<h3>Roles</h3>

@if (_isLoading)
{
    <p>Loading...</p>
}
else
{
    
    @* <SfGrid    DataSource="@Roles" Toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Update", "Cancel" })" TValue="IdentityRole">
        <GridEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true" Mode="EditMode.Dialog"></GridEditSettings>
        <GridEvents OnActionBegin="ActionBeginHandler" OnActionComplete="ActionCompleteHandler" TValue="IdentityRole"></GridEvents>
        <GridColumns>
            <GridColumn Field="Id" HeaderText="ID" TextAlign="TextAlign.Left" Width="150" IsPrimaryKey="true" AllowAdding="false" AllowEditing="false"></GridColumn>
            <GridColumn Field="Name" HeaderText="Role Name" TextAlign="TextAlign.Left" Width="200"></GridColumn>
			<GridColumn Field="NormalizedName" HeaderText="Normalized Name" TextAlign="TextAlign.Left" Width="200" AllowEditing="false" Visible="false"></GridColumn>
            <GridColumn Field="ConcurrencyStamp" HeaderText="Concurrency Stamp" TextAlign="TextAlign.Left" Width="250" AllowEditing="false" Visible="false"></GridColumn>
        </GridColumns>
    </SfGrid> *@
    <GenericGrid TEntity="IdentityRole" Title="My roles"
             Repository="@RoleManager"
             Columns="@myColumns">
    </GenericGrid>
}

@code {
    private List<IdentityRole> Roles { get; set; } = new();
    private bool _isLoading = true;
    private List<ColumnDefinition<IdentityRole>> myColumns = new();
    
    protected override async Task OnInitializedAsync()
    {
        _isLoading = true;
        Roles = (await RoleManager.GetAll()).ToList();
        _isLoading = false;
         myColumns = new List<ColumnDefinition<IdentityRole>>
        {
            new ColumnDefinition<IdentityRole>(x => x.Id, "ID"),
            new ColumnDefinition<IdentityRole>(x => x.Name, "Name", isEditable: true),
            new ColumnDefinition<IdentityRole>(x => x.NormalizedName, "NormalizedName", isEditable: true)
        };
    }

    private async Task ActionBeginHandler(ActionEventArgs<IdentityRole> args)
    {
        if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save))
        {
            if (args.Action == "Add")
            {
                await RoleManager.Insert(args.Data);
            }
            else
            {
                await RoleManager.Update(args.Data);
            }
        }
        else if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Delete))
        {
            await RoleManager.Delete(args.Data.Id);
        }
    }

    private async Task ActionCompleteHandler(ActionEventArgs<IdentityRole> args)
    {
        if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save) || args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Delete))
        {
            Roles = (await RoleManager.GetAll()).ToList(); // Refresh grid data
        }
    }
}
