@page "/appusers"
@using BlazingGidde.Client.Services
@using BlazingGidde.Shared.Models.Identity
@using BlazingGidde.Shared.Models.Patois
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using Syncfusion.Blazor.Data

@attribute [Authorize]

<PageTitle>Application Users</PageTitle>

<h3>Users</h3>


    <SfGrid  Toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Update", "Cancel" })" TValue="IdentityUser">
         <GridEvents TValue="IdentityUser" OnActionFailure="ActionFailureHandler"></GridEvents>
       
        <SfDataManager Url="AppUsers"  Adaptor="Adaptors.WebApiAdaptor"></SfDataManager>
        <GridEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true" Mode="EditMode.Dialog"></GridEditSettings>

        <GridColumns>
            <GridColumn Field="Id" HeaderText="ID" TextAlign="TextAlign.Left" Width="150" IsPrimaryKey="true" AllowEditing="false"></GridColumn>
            <GridColumn Field="UserName" HeaderText="User Name" TextAlign="TextAlign.Left" Width="150" AllowEditing="true"></GridColumn>
            <GridColumn Field="Email" HeaderText="Email" TextAlign="TextAlign.Left" Width="200"></GridColumn>
            <GridColumn Field="PhoneNumber" HeaderText="Phone Number" TextAlign="TextAlign.Left" Width="150"></GridColumn>
        </GridColumns>
    </SfGrid>


@code {



    public void ActionFailureHandler(Syncfusion.Blazor.Grids.FailureEventArgs args)
    {
        // Log the error message to the console
        Console.WriteLine("Error occurred: " + args.Error.Message);
        
        // Optionally, display an alert to the user
        // await JsRuntime.InvokeVoidAsync("alert", "An error occurred: " + args.Error.Message);
        
        // You can also use a notification service or dialog to show the error message
    }
}

