@page "/FlowRoles"
@using BlazingGidde.Client.Services
@using BlazingGidde.Client

@using BlazingGidde.Shared.Models.Identity
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using BlazingGidde.Client.Shared
@inject AspNetRoleManager RoleManager
@attribute [Authorize]

<PageTitle>Application roles</PageTitle>

<CustomGrid Tkey="string" TEntity="FlowRole" TCreateDto="FlowRole" TReadDto="FlowRole"
    Repository="@RoleManager">
    <GridColumns>
       <DxGridDataColumn Caption="Id" FieldName="Id">
        </DxGridDataColumn>
        <DxGridDataColumn  Caption="Employee Name" FieldName="Name">
        </DxGridDataColumn>
        <DxGridDataColumn  Caption="Normalized Name" FieldName="NormalizedName">
        </DxGridDataColumn>
    </GridColumns>

    <EditFormTemplate Context="role">
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input class="form-control" @bind="role.Name" />
        </div>
    </EditFormTemplate>
</CustomGrid>
