@page "/approles"
@using BlazingGidde.Client.Services
@using BlazingGidde.Client

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
 @using BlazingGidde.Client.Shared
@inject AspNetRoleManager RoleManager
@attribute [Authorize]

<PageTitle>Application roles</PageTitle>
    
    <GenericGrid TEntity="IdentityRole" Title="My roles"
                Repository="@RoleManager"
                Columns="@myColumns">
        <EditFormTemplate Context="role">
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input class="form-control" @bind="role.Name" />
            </div>
        </EditFormTemplate>
    </GenericGrid>

@code {
    private List<ColumnDefinition<IdentityRole>> myColumns = new();
    
    protected override void OnInitialized()
    {
         myColumns = new List<ColumnDefinition<IdentityRole>>
        {
            new ColumnDefinition<IdentityRole>(x => x.Id, "ID"),
            new ColumnDefinition<IdentityRole>(x => x.Name, "Name", isEditable: true),
            new ColumnDefinition<IdentityRole>(x => x.NormalizedName, "NormalizedName", isEditable: true)
        };
    }
}
