@page "/templates-kind"
@attribute [Authorize(Roles = "admin,manager")]


@using BlazingGidde.Client.Pages.FlowCheck.Grids
@using Microsoft.AspNetCore.Authorization

@inject TemplateKindManager templateKindManager
@inject NavigationManager NavigationManager

<PageTitle>Plantillas</PageTitle>

<div class="container mt-5">
    <h3 class="mb-4">Plantillas</h3>
    <TemplateKindGrid ></TemplateKindGrid>
</div>