@page "/templates"
@using BlazingGidde.Client.Pages.FlowCheck.Grids
@attribute [Authorize(Roles = "admin, viewer")]

@inject TemplateKindManager templateKindManager
@inject NavigationManager NavigationManager

<PageTitle>Plantillas</PageTitle>

<div class="container mt-5">
    <h3 class="mb-4">Plantillas</h3>
    <TemplateKindGrid></TemplateKindGrid>
</div>