@page "/templateskind"
@inject TemplateKindManager templateKindManager
@inject NavigationManager NavigationManager
@using BlazingGidde.Client.Pages.FlowCheck.Grids
@using BlazingGidde.Shared.DTOs.FlowCheck
@using BlazingGidde.Shared.DTOs.FlowCheck.Request
@using BlazingGidde.Shared.Models.FlowCheck
@using BlazingGidde.Shared.Repository

<PageTitle>Plantillas</PageTitle>

<div class="container mt-5">
    <h3 class="mb-4">Plantillas</h3>
    <TemplateKindGrid ButtonSet="TemplatesKind"></TemplateKindGrid>
</div>